/**
  基础样式变量.
**/
/* 文件路径 */
@img-path: "../img";
/* Color */
@background-color: #ccc;
@color1:#2a7cd3;  //dark color(filtered color)
@color2:#8ed5ff;
@color3:#d0e6f2;
@color4:#323232;
@color5:#1d91c0;

@title-background:rgba(170,170,170,0.05);
@title-text-color-deep:#333;
@title-text-color:#555;
/* Div Size */
@left-width : 55%;
@mid-width: 10%;
@right-width:calc(~"100% - @{left-width} - @{mid-width}");// 1- leftwidth
@right-left-margin:calc(~"@{left-width} + @{mid-width}");
@app-height:calc(~'100% - 30px');
// @app-height:100%;
//right
@plot-height:25%;
@all-plot-height:50%;
@single-plot-height: 100%/3;

@scatter-container-height:calc(~"100% - @{all-plot-height}");
@scatter-title-height: 60px;
@scatter-view-height:calc(~"100% - @{scatter-title-height}");
// @scatter-view-height:;
@mid-btn-height:83.5px;
@mid-stat-height: 50%;
// @mid-leg-height:calc(~"(100% - @{mid-stat-height})/2 - @{mid-btn-height}");
@mid-leg-height: calc(~"50% - 20px");
@mid-leg-top: 0px;

/* Div Style */
@border:2px solid @color4;


/* font */
@font-family1: Microsoft Yahei;

/* transition */
@myTransition: all 0.4s ease;